<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="btn">
          <ion-img src="assets/icon/news-logo.png" />
        </ion-col>
        <ion-col>
          <ion-text><h1>News</h1></ion-text>
        </ion-col>
        <ion-col class="btn">
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--<img src="assets/icon/news-logo.png" alt="">-->
  </ion-toolbar>
</ion-header>