<ion-header>
  <ion-toolbar>
    @if (data) {
    <h1 class="avatar">
      <ion-avatar (click)="goToProfile()">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      {{ data.name }} {{ data.lastName }}
      <ion-icon (click)="logOut()" name="exit-outline" />
    </h1>
    }
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-text><h1>Categories</h1></ion-text>
  <app-list (category)="getcategory($event)" />
</ion-content>