<ion-modal [isOpen]="isOpen">
  <ng-template>
    @if (data) {
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="setClose()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h1 class="title">{{ data.title }}</h1>
      <img src="{{ data.urlToImage }}" alt="">
      <p>
        {{ data.content }}
      </p>
      <p class="link" (click)="abrirNavegador()" >show more information in browser</p>
    </ion-content>
    }
  </ng-template>
</ion-modal>