<form (submit)="onSubmit()">
  <app-input label="name" placeholder="Jane" [control]="nameControl" labelPlacement="stacked" />
  <br>
  <app-input label="last name" placeholder="Doe" [control]="lastNameControl" labelPlacement="stacked" />
  <br>
  <app-input label="email" placeholder="example@gmail.com" type="email" [control]="emailControl"
    labelPlacement="stacked" />
  <br>
  <app-input label="password" placeholder="**************" type="password" [control]="passwordControl"
    labelPlacement="stacked" />
  <br>
  <app-input label="Confirm Password" placeholder="**************" type="password" [control]="passwordControl2"
    labelPlacement="stacked" [hidden]="!isRegister" />
  <br>
  <app-select label="Select your country" [control]="selectControl" [countries]="countries" />
  <br>
  <div class="buttons">
    <app-button text="cancel" shape="round" [hidden]="!isRegister" (click)="gotToLogin()" />
    <app-button type="submit" text="{{ textBtn }}" shape="round" />
  </div>
</form>