<ion-content fullscreen="true" >
  <div class="content">
    <img class="img" src="assets/icon/news-logo.png" />
    <h1>Login</h1>
    <form (submit)="login()">
      <app-input 
        label="email"  
        type="email" 
        placeholder="example@gmail.com" 
        helperText="Enter a valid email"
        labelPlacement="stacked"
        fill="outline"
        [control]="emailControl"
      />
      <app-input 
        label="password"  
        type="password" 
        placeholder="************" 
        helperText="Enter your password"
        labelPlacement="stacked"
        [control]="passwordControl"
      />
      <app-button 
        type="button"
        shape="round"
        text="Create account"
        (click)="goToRegister()"
      />
      <app-button 
        type="submit"
        text="Login"
        shape="round"
      />
    </form>
  </div>
</ion-content>
